<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="Presenting Alibaba Dexpose - An email security expose for users of B2b services. ...Security through awareness">
	<title>Alibaba Dexpose - An email security expose for users of B2b services. ...Security through awareness</title>

    <!-- Bootstrap -->
	<!--     <link href="css/bootstrap.min.css" rel="stylesheet"> -->	
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link rel="stylesheet" href="style/style.css"/>
	<link href='https://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800italic,800,700italic,700,600italic,600,400italic' rel='stylesheet' type='text/css'>
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
    
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   </head>
   <body style="margin-top:20px">
    <section class="header-area container">
		<div class="row">
			<div class="col-md-8">
				<header class="clearfix">
					<section id="branding">
					<a href=""><img src="images/dexpose-logo2.png" alt="Security through awareness"></a>
					</section>
				</header>
			</div>
			<div class="col-md-4">
			<ul class="nav navbar-nav navbar-right">
				  <li role="presentation"><a href="about.html">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-sign-out"></i> Logout</a></li>
				</ul>
			</div>
		</div>
		
    
    </section>
	<div class="spacer"></div>
	<section>
		<div class="container">
		<ul class="nav nav-pills">
		  <li role="presentation"><a href="index.html">Home</a></li>
		  <li role="presentation" class="active"><a href="#">About</a></li>
		  <li role="presentation"><a href="toc.html">Table of Contents</a></li>
		</ul>
		</div>
	</section>
	<div class="spacer2"></div>
	<section class="sec2 bckg3">
		<div class="container">
			<div class="row">
			<div class="col-md-8">
				<h3>Introducing <i>Dexpose.com</i></h3>
				<p>DEXPOSE.com is an online educational tool that is aimed at significantly improving the security of Business to Business transactions that rely on email services. Dexpose.com is intended to reduce the menace of B2b email scams to the barest minimum. 
 Focused on enhancing security through awareness dexpose.com will teach buyers, sellers and their sales staff / personnel about the burgeoning threats of cybercrime and its direct implication on their day to day B2b transactions, detailing security consciousness in the use of email, and also document exchange.
The emphasis here will be laid on awareness making users fully aware of the mode of operation of these fraudsters who usually are at a very low-entry skill level but still cash in on large sums of money.</p> <p><i><span style="font-size:2em">It is important to note that the threat is there; whether you know about it or not is the only distinguishing factor.</span></i></p>
<p>The course will be divided into units as shown in the <a href="toc.html">table of contents.</a> because of the evolving nature of the subject matter of cyber security, the course units will also evolve from time to time in order to reflect new threats and challenges to doing business online with email.  Such changes will be communicated effectively to user on the platform to update to knowledgebase on the subject matter.
Courses on Dexpose.com will be available free of charge to users. But <span class="highlight">certfication</span> will come at a cost. The site will be built on the edx open source MOOC platform or related platforms.
</p>
			</div>	
			<div class="col-md-4">
				
					
			</div>
			</div>
			<div class="row">
			<div class="col-md-8">
				<h3 id="dexpose-pv-system-explained">Introducing <i>the Dexpose Point Value System</i></h3>
				<p>Each course module will be assigned a Point Value, <span class="highlight">PV</span> that will add up to make a Maximum Attainable Point Value, <span class="highlight">MAPV</span> for the period. The total point value, <span class="highlight">PV</span> assigned to a course unit will be displayed in front of course unit header in the <a href="toc.html"><span class="">table of contents</span></a> page.</p>

<p>The course units will be continually updated to address the evolving nature of threat profiles that are being identified.  The Dexpose <span class="highlight">PV</span> system will be a flexible one such that the Maximum Attainable Point Values per student will increase as course units are updated or added to the course. .</p>

<p>Such maximum attainable scores will be published accordingly to the website and students are expected to update their score (<span class="highlight">PV</span>)by participating in the course and passing the accompanying assessment in order to increase their <span class="highlight">PV</span> to meet the new <span class="highlight">MAPV</span>.</p>

<p>The dexpose <span class="highlight">PV</span> system will form  the basis for <span class="highlight">certfication</span>. A user's certificate will display the <span class="highlight">MAPV</span> for the period and the  user’s <span class="highlight">PV</span> . The course will continually evolve and <span class="highlight">MAPV</span> will increase accordingly.
</p>

<p>All registered users will have a unique id upon registration like <span class="highlight">AD00000000001</span> that employers and anyone can search against to see a user's certificate.</p>

<p>This will help Alibaba set a standard for sales personnel in exporting companies from china and around the world so that employers will look to employ sales personnel that have a … .</p>


			</div>	
			<div class="col-md-4">
				
					
			</div>
			</div>
		</div>
	</section>
	
	<div class="spacer"></div><!-- <div class="spacer"></div> -->
    <section id="footer-area" style="background-color:#F5F5F5">
    	<div class="container">
		
    		<footer>
    			<nav>
				
    				<ul class="breadcrumb">
						<li><a href="http://kennethetal.com">&copy; 2016 Kennethetal &nbsp;</a></li>
						<li><a href="index.html">Home</a></li>
						<li><a href="toc.html">Course Contents</a></li>
						<li><a href="">Term & Conditions for Collaboration</a></li>
						<li><a href="">Privacy Policy</a></li>
						<li><a href="">User notes </a></li>
    				
    				</ul>
    			</nav>
    		</footer>
    	</div>
    </section>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>